---
layout: archive
title: "Personal"
permalink: /personal/
author_profile: true
---

<h2>Achievements</h2>
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Meritorious position in <b>Maths Olympiad</b>, 2000 during my second grade and secured 82% marks, in National Mathematics Olympiad contest held by Delhi Association of Mathematics Teachers, was among the <b>top 10% scorers</b> in school held by The Association of Mathematics Teachers of India.  
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Awarded a Certificate of Merit for outstanding academic performance and for being among the <b>top 0.1 percent</b> of successful candidates of AISSCE 2009 in Mathematics.
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Secured first position in graphical poster Grapho-Banz event at an interschool competition competing against other 70 schools.
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	CCNP training in Cisco Networking Academy along with a <b>CCNP</b>-Routing and Switching Certification from <b>Cisco Systems</b>. 
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Achieved a certificate in Developing WPF and ASP.NET Applications at <b>NIIT</b>, Chennai with Excellent performance, which is recognized as the Top IT Training Company for 20 consecutive years by Cybermedia publications
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Completed Certificate Program in C, C++, Data Structures and Algorithms, Java Applications at <b>NIIT</b>, Chennai. 
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Completed Desktop Publishing in <b>Global Systems</b>. 
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Completed Java Programming Language, and was eventually awarded by <b>Oracle Workforce Development Program</b>.
<br>
<br>
<h2>Volunteering Activities</h2>
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Received recognition and an award from the <b>Lions Club of International, District 324A1</b> for being the “Most Valued Player” for contributions in Eye Screening & Cataract Surgeries for 330 patients.
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Ahimsa-Peace Rally, during the ‘Gandhi Jayanti’ on International Non-Violence Day, 2009.
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Active participant as a volunteer in <b>HelpAge India</b>, an NGO organization, which fights against isolation, poverty, and neglect, in <b>Karuna International</b> to help spread awareness about <b>Vegetarianism</b>, Amritavarsham, an event celebrated on occasion of the birthday celebrations of Mata Amritanandamayi “hugging saint” to pray for world peace, Amala Bharatam Campaign – Clean India, a mass outreach campaign in Amrita University, and in <b>Corporate Social Responsibility</b> (CSR) activities at Cisco.


{% for post in site.history reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
