---
layout: archive
title: "Personal"
permalink: /personal/
author_profile: true
---

<h2>Achievements</h2>
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Meritorious position in Maths Olympiad, 2000 during my second grade and secured 82% marks, in National Mathematics Olympiad contest held by Delhi Association of Mathematics Teachers, was among the top 10% scorers in school held by The Association of Mathematics Teachers of India.  
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Awarded a Certificate of Merit for outstanding academic performance and for being among the top 0.1 percent of successful candidates of AISSCE 2009 in Mathematics.
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Secured first position in graphical poster Grapho-Banz event at an interschool competition competing against other 70 schools.
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	CCNP training in Cisco Networking Academy along with a CCNP-Routing and Switching Certification from Cisco Systems. 
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Achieved a certificate in Developing WPF and ASP.NET Applications at NIIT, Chennai with Excellent performance, which is recognized as the Top IT Training Company for 20 consecutive years by Cybermedia publications
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Completed Certificate Program in C, C++, Data Structures and Algorithms, Java Applications at NIIT, Chennai. 
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Completed Desktop Publishing in Global Systems. 
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Completed Java Programming Language, and was eventually awarded by Oracle Workforce Development Program.

{% for post in site.history reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
