---
layout: archive
title: "Personal"
permalink: /personal/
author_profile: true
---

<h2>Achievements</h2>
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Meritorious position in <b>Maths Olympiad</b>, 2000 during my second grade and secured 82% marks, in <i>National Mathematics Olympiad</i> contest held by <i>Delhi Association of Mathematics Teachers</i>, was among the <b>top 10% scorers</b> in school held by <i>The Association of Mathematics Teachers of India</i>.  
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Awarded a Certificate of Merit for outstanding academic performance and for being among the <b>top 0.1 percent</b> of successful candidates of <b>AISSCE</b> 2009 in Mathematics.
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Secured first position in graphical poster <i>Grapho-Banz</i> event at an interschool competition competing against other 70 schools.
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	CCNP training in Cisco Networking Academy along with a <b>CCNP</b>-Routing and Switching Certification from <b>Cisco Systems</b>. 
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Achieved a certificate in Developing WPF and ASP.NET Applications at <b>NIIT</b>, Chennai with Excellent performance, which is recognized as the Top IT Training Company for 20 consecutive years by Cybermedia publications
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Completed Certificate Program in C, C++, Data Structures and Algorithms, Java Applications at <b>NIIT</b>, Chennai. 
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Completed Desktop Publishing in <b>Global Systems</b>. 
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Completed Java Programming Language, and was eventually awarded by <b>Oracle Workforce Development Program</b>.
<br>
<h2>Volunteering Activities</h2>
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Received recognition and an award from the <b>Lions Club of International, District 324A1</b> for being the “Most Valued Player” for contributions in Eye Screening & Cataract Surgeries for 330 patients.
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Ahimsa-Peace Rally, during the ‘Gandhi Jayanti’ on <i>International Non-Violence Day, 2009</i>.
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Active participant as a volunteer in <b>HelpAge India</b>, <i>an NGO organization</i>, which fights against isolation, poverty, and neglect, in <b>Karuna International</b> to help spread awareness about <b>Vegetarianism</b>, <i>Amritavarsham</i>, an event celebrated on occasion of the birthday celebrations of Mata Amritanandamayi “hugging saint” to pray for world peace, Amala Bharatam Campaign – Clean India, a mass outreach campaign in Amrita University, and in <b>Corporate Social Responsibility</b> (CSR) activities at Cisco.
<br>
<h2>Co-Curricular Activities</h2>
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	An executive member of planning and resource committee of <b>Anokha</b> (Technical Fest of Amrita University, Coimbatore), 2012.
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Conducted various technical workshops such as <i>Cerebral Wars, Treasure hunt</i> event at the tech-festivals held in college.
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Conducted chalk talks and training related to <i>VMware, drivers, firmware</i> within and outside the team at Cisco Systems.
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Ambassador of <i>Foundation to Success</i>, a global training program and primary member in maintaining the <i>Jive On</i> page for the team, an internal forum for Cisco Systems.
<br>
<h2>Personal Details</h2>
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Hobbies&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Solving mathematical questions and puzzles. 
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Date of Birth&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 26 July, 1993 
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: #106, 2700 Ellendale Place, Los Angeles, California – 90007
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	Languages known&nbsp;: English, Tamil, Telugu, and Hindi. 


{% for post in site.history reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
