---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
---

<h2>Resume</h2>

<ul>
<li>My latest resume has been attached for download. 
 <i> <a href="https://github.com/gayu-thri/gayu-thri.github.io/blob/master/_pages/Gayathri_Ethiraj_Resume.pdf" target="_blank">
  Click here. </a> </i>
</li>
</ul>

<h2>Recommendations</h2>

<ul>
  <li>Zoho Corporation : Ananda Seelan, Lead, ML Engineer, ASR Team
    <i> <a href="https://github.com/gayu-thri/gayu-thri.github.io/blob/master/_pages/Gayathri_Ethiraj_LOR_Seelan.pdfff" target="_blank">
    Click here. </a> </i>
  </li>
</ul>
<ul>
  <li>Amrita University : Dr. Rajathilagam B., Professor, Amrita Vishwa Vidyapeetham, School of Computing, Coimbatore
    <i> <a href="https://github.com/gayu-thri/gayu-thri.github.io/blob/master/_pages/Gayathri_Ethiraj_LOR_Rajathilagam.pdfff" target="_blank">
    Click here. </a> </i>
  </li>
</ul>
<ul>
  <li>Amrita University : Dr. Senthil Kumar T., Professor, Amrita Vishwa Vidyapeetham, School of Computing, Coimbatore
    <i> <a href="https://github.com/gayu-thri/gayu-thri.github.io/blob/master/_pages/Gayathri_Ethiraj_LOR_SenthilKumar.pdfff" target="_blank">
    Click here. </a> </i>
  </li>
</ul>

{% for post in site.resume %}
    {% include archive-single-cv.html %}
  {% endfor %}

